{# app/Resources/views/base.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title> {% block title %} Welcome! {% endblock %} </title>        
    	<link href="{{ asset('css/style.css') }}" rel="stylesheet" type="text/css" />
		{% block stylesheets %} {% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
		<script src="{{ asset('js/jquery-1.7.2.min.js') }}" type="text/javascript" ></script>
		<script src="{{ asset('js/main_scripts.js') }}" type="text/javascript" ></script>
		<script src="{{ asset('js/jquery.dataTables.min.js') }}" type="text/javascript" ></script>
		{% block javascripts_head %} {% endblock %}
    </head>
    <body>
	<div id="header">
		{% block header %}
			<!-- logo -->
			<a href=""><img src="images/logo.png" alt="" /></a>    
			<div id="tabmenu">
				{% block tabmenu %}
					<ul>
						<li class="current"><a href="main.html" class=""><span>Strona główna</span></a></li>          
						<li><a href="users.html" class=""><span>Użytkownicy</span></a></li>					
					</ul>
				{% endblock %}
			</div><!-- tabmenu -->
			<div id="account">
				<h3>{{ app.user.firstname }} {{ app.user.lastname }}</h3>
				<small>test@test.test</small>
				<p>
					<a href="">Mój profil</a> <a href="{{ path('logout') }}">Wyloguj</a>
				</p>
			</div><!-- account -->
		{% endblock %}
	</div><!-- header -->
	
	<div id="sidebar">
		{% block sidebar %} {% endblock %}      
	</div><!-- sidebar -->

	<div id="content">
		{% block content %}
			{%block dashboard %} {%endblock%}
		{% endblock %}
	</div><!-- content -->

	<div id="footer">
    	{% block footer %} &copy;2012 Ocenzurowana stopka. {% endblock %}
	</div><!-- footer -->

    {% block javascripts_body %}
		<script>
			jQuery(document).ready(function(){
				jQuery('.message .close').click(function(){
					jQuery(this).parent().fadeOut();
				});
			});
		</script>
	{% endblock %}
	
	</body>
</html>
