<!DOCTYPE html>
<html>
    <head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
		<link href="{{ asset('css/style.css') }}" rel="stylesheet" type="text/css" />
        <title>Logowanie</title>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		<script>
		
		jQuery(document).ready(function(){	
	
			jQuery('#username, #password').focusout(function(){
				if(jQuery(this).val() != '') {
					jQuery(this).css({backgroundPosition: "0 -32px"});	
				} else {
					jQuery(this).css({backgroundPosition: "0 0"});	
				}
			});
		
			jQuery('#username, #password').focusin(function(){
				if(jQuery(this).val() == '') {
					jQuery(this).css({backgroundPosition: "0 -32px"});	
				}
			});
		});
	</script>
    </head>
    <body>
		<div id="content">
		
			{% if error %}
				<div class="error_msg"><p>{{ error.message }}</p></div>
			{% endif %}
			<div class="log_logo"><img src="{{ asset('images/log_logo.png') }}"></div>
				<div class="log_form">
			<form action="{{ path('login_check') }}" method="post">				
				<input type="text" id="username" name="_username" value="{{ last_username }}" />
			<br class="clear">				
				<input type="password" id="password" name="_password" />
			<br class="clear">
				<button type="submit">Zaloguj</button>
			</form>
			</div>
			<br class="clear">
			<div>
			<ul class="log_foot">
				<li><a href="#">Warunki u¿ytkowania</a></li>
				<li><a href="#">Regulamin</a></li>
				<li><a href="#">Pomoc</a></li>
				<li><a href="#">Copyright 2012 MCMS</a></li>
			</ul>
			</div>
		</div>
		
    </body>
</html>