{# src/Mcms/UserBundle/Resources/views/show.html.twig #}
{% extends '::dashboard.html.twig' %}

{% block javascripts_head %}
	<script type="text/javascript">
		$(document).ready(function() {
    		$('.example').dataTable();
		} );
	</script>
{% endblock %}

{% block title %} Lista użytkowników {% endblock %}

{% block sidebar %} {% include 'McmsUserBundle::sidebar.html.twig' %} {% endblock %}


{% block content %}

 	<h1 class="pageTitle">Lista użytkowników</h1>
	<div class="tableOpt"></div><!--end table Options-->	
		<table cellpadding="0" cellspacing="0" class="tableHead" width="100%" class="example">
				<colgroup>
					<col class="head1" width="8%" />
					<col class="head0" width="34%" />
					<col class="head1" width="24%" />
					<col class="head0" width="24%" />
					<col class="head1" width="10%" />					
				</colgroup>
				<tr>
					<td>Akcja</td>
					<td>Nazwa Użytkownika</td>
					<td>Imię</td>
					<td>Nazwisko</td>
					<td>Aktywność</td>				
				</tr>
		</table>
	<div class="tableWrapper">
        <table cellpadding="0" cellspacing="0" class="table" class="example" width="100%">
                <colgroup>
                    <col class="con1" width="8%" />
                    <col class="con0" width="34%" />
                    <col class="con1" width="24%" />
                    <col class="con0" width="24%" />
					<col class="con1" width="10%" /> 					
                </colgroup>

		
			{% for user in users %}
				<tr>
					<td style="text-align: center;"><a href="{{ path('user_show', { 'id': user.id }) }}" title="Edytuj"><img src="{{ asset('images/icons/edit.png') }}" /></a><a class="profilelink" href="{{ path('user_show', { 'id': user.id }) }}" title="Szczegóły"></a></td>
					<td>{{ user.username }}</td>
					<td>{{ user.firstname }}</td>
					<td>{{ user.lastname }}</td>
					<td style="text-align: center;"> 
					{% if user.isactive %}
                            <img src="{{ asset('images/icons/success.png') }}" />
                        {% else %}
                            <img src="{{ asset('images/icons/error.png') }}" />
                        {% endif %}
					</td>
				</tr>
			{% endfor %}

		</table>		
	</div>	
{% endblock %}