{# src/Mcms/UserBundle/Resources/views/show.html.twig #}
{% extends '::dashboard.html.twig' %}

{% block javascripts_head %}{% endblock %}

{% block title %} Szczegóły użytkownika {% endblock %}

{% block sidebar %}
<!-- {% include 'McmsUserBundle::sidebar.html.twig' %}-->
 {% endblock %}

{% block content %}	
	<h1 class="pageTitle">Szczegóły użytkownika</h1>
		
	<div class="window1">
			<h3><span style="height:20px;">
				<a href="{{ path('users_list') }}">
				<button class="button button_blue" style="float:right; margin:-6px 0 0 0;" type="submit">Wróć do listy użytkowników</button>
				</a>
			</span></h3>
		<div class="inside">
			<div class="one_third"><p><b>Id użytkownika:</b></p>
				<p><b>Imię:</b></p>
				<p><b>Nazwisko:</b></p>
				<p><b>Rola:</b></p>
				<p><b>Aktywność:</b></p>
			</div>
            <div class="one_third">
				<p>{{ user.id }}</p>
				<p>{{ user.firstname }}</p>
				<p>{{ user.lastname }}</p>
				{% for role in user.userRoles %}<p>{{ role.name }}</p>{% endfor %}
				<p> {% if user.isactive %}
                            TRUE
                        {% else %}
                            FALSE
                        {% endif %}</p>
			</div>
			<div class="one_third lastt">
					<form action="{{ path('user_password_reset', { 'id': user.id } )}}" method="post">
					{{ form_widget(password_reset_form) }}
					<a href="" class="resetlink"  onClick="return confirm('Na pewno chcesz zresetować hasło?')" title="Resetuj hasło">Resetuj hasło</a>
				</form>
			</div>     
		</div>
	</div>
		
{% endblock %}
