{% extends '::employeeDashboard.html.twig' %}

{% block content %}
	{{ form_errors(form) }}
	<h1 class="pageTitle">Edytuj platnosc</h1>
	<div class="window1">
	    <h3><span></span></h3>
	    <div class="inside">
			<form action="{{ path('employee.paymentUpdate', { 'paymentId': payment.id, 'patientId': payment.patient.id }) }}" method="post" class="form_default" {{ form_enctype(form) }}>
				{{ form_row(form._token) }} 
				<ul class="products" data-prototype="{{ form_widget(form.products.get('prototype')) | e }}">
					{% for product in form.products %}
                    	<li>{{ form_widget(product) }}</li>
                	{% endfor %}
				</ul>
				<p>
					<button type="submit">Utwórz</button>
				</p>
    		</form>
    	</div>
    </div>
{% endblock %}

{% block javascripts_body %}
    {{ parent() }}
<script type="text/javascript">
    var collectionHolder = $('ul.products');

    var $addProductLink = $('<a href="#" class="add_product_link">Add a product</a>');
    var $newLinkLi = $('<p></p>').append($addProductLink);

    jQuery(document).ready(function() {
        collectionHolder.append($newLinkLi);

        $addProductLink.on('click', function(e) {
            e.preventDefault();
            addProductForm(collectionHolder, $newLinkLi);
        });

        collectionHolder.find('li').each(function() {
            addTagFormDeleteLink($(this));
        });
    });

    function addProductForm(collectionHolder, $newLinkLi) {
        var prototype = collectionHolder.attr('data-prototype');
        console.log(prototype);
        var newForm = prototype.replace(/\$\$name\$\$/g, collectionHolder.children().length);
        var $newFormLi = $('<p></p>').append(newForm);
        addTagFormDeleteLink($newFormLi);
        $newLinkLi.before($newFormLi);
    }

    function addTagFormDeleteLink($productFormLi) {
        var $removeFormA = $('<a href="#">delete this product</a>');
        $productFormLi.append($removeFormA);

        $removeFormA.on('click', function(e) {
            e.preventDefault();

            $productFormLi.remove();
    });
}
</script>
{% endblock %}