{% extends '::base.html.twig' %}
{% block stylesheets %}
<script type="text/javascript">
$(document).ready(function() {
    $('#example').dataTable();
} );
</script>
{% endblock %}

{%block sidebar%}{% endblock %}

{% block content %}
{{ products.setUsedRoute('admin.productList') }}
{{products.setTemplate('::pagination.html.twig')}}
<h1 class="pageTitle">Lista produktów</h1>
	<div class="tableOpt">
		<h4>Tutaj może kiedys bedzie jakis opis
<a href="{{ path('admin.productNew') }}"><button class="button_blue" type="submit" style="float:right; margin:-7px 0 0 0;">Utwórz produkt</button></a></h4>	
    </div><!--end table Options-->	
		<table cellpadding="0" cellspacing="0" class="tableHead" width="100%" id="example">
				<colgroup>
					<col class="head1" width="25%" />
					<col class="head0" width="25%" />
					<col class="head1" width="25%" />
					<col class="head0" width="25%" />              
				</colgroup>
				<tr>
					<td>Id</td>
					<td>Nazwa</td>
					<td>Cena</td>
					<td>Akcja</td>                
				</tr>
		</table>
	<div class="tableWrapper">
        <table cellpadding="0" cellspacing="0" class="table" id="example" width="100%">
                <colgroup>
                    <col class="con1" width="25%" />
                    <col class="con0" width="25%" />
                    <col class="con1" width="25%" />
                    <col class="con0" width="25%" />                   
                </colgroup>

		
			{% for product in products %}
				<tr>
					<td><a href="{{ path('admin.productShow', { 'id': product.id }) }}">{{ product.id }}</a></td>
					<td>{{ product.name }}</td>
					<td>{{ product.price }}</td>
					<td><a class="editlink" href="{{ path('admin.productEdit', { 'id': product.id }) }}" title="Edytuj produkt">Edytuj</a>
					<a class="profilelink" href="{{ path('admin.productShow', { 'id': product.id }) }}" title="Zobacz szczegoly produktu">{{ product.id }}</a>
					</td>
				</tr>
			{% endfor %}
		</table>		
	</div>
    	
	{{ products.render()|raw }}
{% endblock %}