{# src/Mcms/ProductBundle/Resources/views/Admin/list.html.twig #}
{% extends '::adminDashboard.html.twig' %}

{% block javascripts_head %}
	<script type="text/javascript">
		$(document).ready(function() {
    		$('.example').dataTable();
		} );
	</script>
{% endblock %}

{% block title %} Lista produkt贸w {% endblock %}

{% block sidebar %} {% include 'McmsProductBundle:Admin:sidebar.html.twig' %} {% endblock %}

{% block content %}
{{ products.setUsedRoute('admin.productList') }}
{{products.setTemplate('::pagination.html.twig')}}
<h1 class="pageTitle">Lista produkt贸w</h1>
	<div class="tableOpt">
		<h4>Lista produkt贸w
<a href="{{ path('admin.productNew') }}"><button class="button button_blue" type="submit" style="float:right">Utw贸rz produkt</button></a></h4>	
    </div><!--end table Options-->	
		<table cellpadding="0" cellspacing="0" class="tableHead" width="100%" id="example">
				<colgroup>
					<col class="head0" width="50%" />
					<col class="head1" width="25%" />
					<col class="head0" width="25%" />              
				</colgroup>
				<tr>
					<td>Nazwa</td>
					<td>Cena</td>
					<td>Akcja</td>                
				</tr>
		</table>
	<div class="tableWrapper">
        <table cellpadding="0" cellspacing="0" class="table" id="example" width="100%">
                <colgroup>
                    <col class="con0" width="50%" />
                    <col class="con1" width="25%" />
                    <col class="con0" width="25%" />                   
                </colgroup>

		
			{% for product in products %}
				<tr>
					<td>{{ product.name }}</td>
					<td>{{ product.price }}</td>
					<td><a class="profilelink" href="{{ path('admin.productShow', { 'id': product.id }) }}">{{ product.id }}</a><a class="editlink" href="{{ path('admin.productEdit', { 'id': product.id }) }}">Edytuj</a></td>
				</tr>
			{% endfor %}
		</table>		
	</div>
    	
	{{ products.render()|raw }}	
{% endblock %}