{% extends '::adminDashboard.html.twig' %}
{% form_theme form '::formErrors.html.twig' %}

{% block title %} Utwórz nowy produkt {% endblock %}

{% block sidebar %} {% include 'McmsProductBundle:Admin:sidebar.html.twig' %} {% endblock %}

{% block content %}
	{{ form_errors(form.price) }}
	<h1 class="pageTitle">Utwórz nowy produkt</h1>
    <div class="window1">
	    <h3><span></span></h3>
		<div class="inside">				
				<form class="form_default" action="{{ path('admin.productCreate') }}" method="post" {{ form_enctype(form) }}>
					<p>
						<label>Nazwa:</label>  {{ form_widget(form.name) }}</br></br>
						<label>Cena:</label>  {{ form_widget(form.price) }}
						{{ form_rest(form) }} 
					</p>
					<p>
						<button type="submit">Utwórz</button>
					</p>					
				</form>			
		</div>
    </div>
{% endblock %}