{# src/Mcms/UserBundle/Resources/views/Admin/changePassword.html.twig #}
{% extends '::adminDashboard.html.twig' %}

{% block title %}{{ app.user }} - Zmiana hasła użytkownika{% endblock %}

{% block content %}
	<h1 class="pageTitle">Zmiana hasła użytkownika <em style="color:#4C6A98">{{app.user}}</em></h1>
	<div class="window1">
	<h3><span></span></h3>
	<div class="inside">
    <form action="{{ path('admin.updatePassword')}}" method="post" {{ form_enctype(form) }}>
        {{form_errors(form)}}
        {{ form_widget(form) }}
        <input type="submit" />
    </form>
	</div>
	</div>
{% endblock %}