{% extends '::clean.html.twig' %}

{% block body %}
	<h1>Edit {{ product.name }} details.</h1>

	{{ form_errors(form) }}
	<form action="{{ path('product_update',{ 'id': product.id }) }}" method="post" {{ form_enctype(form) }}>
    	{{ form_row(form.name) }}
    	{{ form_row(form.price) }}
    	{{ form_rest(form) }}
    <p>
        <button type="submit">Update</button>
    </p>
</form>
<form action="{{ path('product_delete', { 'id': product.id }) }}" method="post">
   	{{ form_widget(delete_form) }}
    <button type="submit" onClick="return confirm('Are you sure you want to delete?')">Delete</button>
</form>

{% endblock %}