{% extends '::clean.html.twig' %}

{% block body %}
	<h1>List with all products</h1>

	<table>
		<thead>
			<tr>
				<th>Id</th>			
				<th>Name</th>			
				<th>Price</th>
				<th></th>			
			<tr>
		</thead>

		<tbody>
		{% for product in products %}
			<tr>
				<td><a href="{{ path('product_show', { 'id': product.id }) }}">{{ product.id }}</a></td>
				<td>{{ product.name }}</td>
				<td>{{ product.price }}</td>
				<td><a href="{{ path('product_edit', { 'id': product.id }) }}">edit</a></td>
			</tr>
		{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('product_new') }}">Create new</a>
{% endblock %}