{% extends '::base.html.twig' %}
{% form_theme form '::formErrors.html.twig' %}

{% block content %}
	{{ form_errors(form.price) }}
	<h1 class="pageTitle">Utwórz nowy produkt</h1>
    <div class="window1">
	    <h3><span></span></h3>
		<div class="inside">				
				<form class="form_default" action="{{ path('product_create') }}" method="post" {{ form_enctype(form) }}>
					<p>
						{{ form_label(form.name) }}  {{ form_widget(form.name) }}</br></br>
						{{ form_label(form.price) }}  {{ form_widget(form.price) }}
						{{ form_rest(form) }} 
					</p>
					<p>
						<button type="submit">Utwórz</button>
					</p>					
				</form>			
		</div>
    </div>
{% endblock %}